<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="OwlFinanceDbConnection" connectionString="Server=tcp:owlfinancedbserver.database.windows.net,1433;Database=owlfinancedb3;User ID=owlfinancedbuser@owlfinancedbserver;Password=;Encrypt=True;TrustServerCertificate=False;Connection Timeout=180;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <appSettings>
        <add key="auth0:ClientId" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="auth0:ClientSecret" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="auth0:Domain" value="https://owl-finance.auth0.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="storage:BaseUrl" value="t" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:AuthToken" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:AccountSID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:WorkspaceSID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:WorkflowSID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:OfflineActivitySID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:IdleActivitySID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:BusyActivitySID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:ReservedActivitySID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:ApiKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:ApiSecret" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:IpMessagingSID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:ConversationsSID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:FromPhoneNumber" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="twilio:AppSID" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="weather:BaseUrl" value="https://api.forecast.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="weather:ApiKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="zipcode:BaseUrl" value="https://www.zipcodeapi.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="zipcode:ApiKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="docusign:UserName" value="owl-finance@twilio.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="docusign:Password" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="docusign:IntegratorKey" value="1e58c227-4993-46e0-a59e-9bf045d15972" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
